<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIR Lab GenAI SIG Face Swapper</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Scan the QR Code below to download the image</h1>
        <img src="/static/qrcode/qrcode_{{ '%02d' | format(id) }}.png" id="qrcode" alt="QRCode">
        <div class="icon-container">
            <img src="/static/icons/finish.png" class="icon" alt="Finish" onclick="backToIndex()">
        </div>
    </div>
    <script src="static/button_script.js"></script>
</body>
</html>
