<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIR Lab GenAI SIG Face Swapper</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h1>Take a photo</h1>
        <div class="video-grid">
            <img src="{{ url_for('video_feed') }}" class="video-container" alt="Webcam feed">
            <img src="/static/placeholders/default.png" id="photo" class="video-container" alt="Photo">
        </div>
        <div class="loader-container" id="loader-container" style="display: none;">
            <div id="loader"></div>
        </div>
        <div class="icon-container">
            <img src="/static/icons/back.png" class="icon" alt="Back" onclick="backToIndex()">
            <img src="/static/icons/camera.png" class="icon" id="camera" alt="Camera" onclick="takePhoto()">
            <img src="/static/icons/swap.png" class="icon" alt="Swap" onclick="toggleGenderSwap()">
            <img src="/static/icons/next.png" class="disabled-icon" id="next" alt="Next" onclick="finishTakePhoto()">
        </div>
        <div id="message" style="margin: 16px; text-align: center; color: black;">
            Press the camera button to capture a photo. Remove any face coverings for the best quality!
        </div>
        <div id="gender-swap-message" style="margin: 16px; text-align: center; color: black;">
            Gender swap disabled. Press the swap button to enable.
        </div>
    </div>
    <script src="static/button_script.js"></script>
</body>
</html>
